/*引入字体图标*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
header{
    background-color: #aac2d3;
}
.iconfont{
    font-family:"iconfont" !important;
}
header .iconfont{
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: #8494a1;
    color: #c1d4e1;
    text-align: center;
    line-height: 20px;
}

/*头部导航开始*/
.nav{
    height: 30px;
    line-height: 30px;
    background-color: #e3e4e5;
    border-bottom: 1px solid #dddddd;
}
.nav-left{
    margin-left: 209px;
}
.nav-left i{
    font-size: 14px;
    color: #f10215;
}
.nav-right li{
    /*height: 30px;*/
    /*line-height: 30px;*/
    float: left;
}
.nav-right .line{
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 10px 12px 0;
}
/*头部导航结束*/

/*主导航开始*/
nav{
    height: 139px;
}
nav .logo{
    width: 190px;
    position: relative;
    top: -31px;
    box-shadow: 0 0 8px #dfdfdf;
}
nav .logo a{
    width: 190px;
    height: 170px;
    display: block;
    background: url("../images/logo.v2.png"),#ffffff;
    text-indent: -99em;
}
.search{
    width: 548px;
    height: 33px;
    border: 1px solid #f10215;
    position: absolute;
    top: 25px;
    left: 320px;
}
.search input{
    width: 495px;
    height: 33px;
    padding-left: 3px;
    vertical-align: middle;
}
.search button{
    width: 50px;
    height: 33px;
    vertical-align: middle;
    background-color: #f10215;
}
.search i{
    color: #ffffff;
    font-size: 20px;
    /*text-align: center;
    margin-top: 9px;*/
}
.search .cama{
    position: absolute;
    top: 9px;
    right: 64px;
    color: #949495;
    font-size: 20px;
}
.car{
    width: 188px;
    height: 33px;
    border: 1px solid #e3e4e5;
    position: absolute;
    top: 25px;
    right: 97px;
    background-color: #ffffff;
    color: #f10113;
    text-align: center;
    line-height: 33px;
}
.car .iconfont{
    font-size: 16px;
    vertical-align: middle;
    font-weight: bold;
}
.car .count{
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 45%;
    background-color: #f10215;
    text-align: center;
    line-height: 14px;
    color: #ffffff;
    position: relative;
    top: -5px;
}
.product{
    position: absolute;
    top: 70px;
    left: 320px;
}
.product li{
    float: left;
    margin-right: 10px;
}
.product li a{
    color: #999999;
}
.product li:last-child{
    margin-right: 0;
}
.main-nav{
    position: absolute;
    top: 112px;
    left: 229px;
}
.main-nav li{
    float: left;
    margin: 0 15px;
}
.main-nav li.line{
    width: 1px;
    height: 10px;
    background-color: #cccccc;
    margin: 5px 5px 0;
}
.main-nav li a{
    color: #555555;
    font-size: 16px;
    font-weight: bolder;
}
/*主导航结束*/

/*中间主体开始*/
main{
    height: 480px;
    margin-top: 1px;
    position: relative;
}
.main-pre{
    height: 480px;
    width: 100%;
    position: absolute;
}
.main-pre a{
    /*width: 100%;*/
    height: 480px;
    display: block;
    /*position: absolute;*/
    /*z-index: 11;*/
    background: url("../images/banner480.png") no-repeat center;
}
.main{
    height: 480px;
    /*position: absolute;*/
    position: relative;

    /*top: 0;*/

}
.main-left{
    width: 179px;
    height: 458px;
    background-color: #6e6568;
    padding-left: 11px;
    padding-top: 22px;
}
.main-left li{
    height: 28px;
}
.main-left li a,.main-left li{
    color: #ffffff;
}
.main-center{
    width: 790px;
    height: 480px;
    background-color: bisque;
    margin: 0 10px;
}
.main-center-top{
    margin-bottom: 10px;
}
.main-center-top div{
    width: 30px;
    height: 60px;
    background-color: rgba(255,255,255,.2);
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    color: #999999;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    display: none;
}
.main-center-top div:nth-child(3){
    right: 0;
}
.main-center-top:hover div{
    display: block;
}
.main-center-top div:hover{
    background-color: rgba(0,0,0,.3);
    color: #ccc;
}
.main-center-top ul{
    width: 179px;
    height: 20px;
    background-color: rgba(255,255,255,.2);
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    padding-left: 3px;
}
.main-center-top ul li{
    width: 12px;
    height: 12px;
    border-radius: 45%;
    background-color: #ffffff;
    float: left;
    margin: 4px 5px;
}
.main-right{
    width: 190px;
    height: 480px;
    background-color: #ffffff;
}
.main-right-top{
    height: 115px;
    border-bottom: 1px solid #e6e6e6;
}
.main-right-top .info>a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    background: url("../images/sprite_userinfo@1x.png") no-repeat -70px 0;
    position: relative;
    top: 15px;
    left: 15px;
    text-align: center;
}
.main-right-top .info img{
    width: 40px;
    height: 40px;
    border-radius: 45%;
}
.main-right-top .info p:nth-child(2){
    width: 94px;
    height: 20px;
    margin-top: 21px;
    margin-right: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.main-right-top .info p:nth-child(3){
    width: 117px;
    margin-top: -10px;
    text-align: left;
}
.main-right-top .procit{
    height: 24px;
    position: absolute;
    bottom: 16px;
    left: 0;
}
.main-right-top .procit a:hover div{
    background-color: #e01222;
    color: #ffffff;
}
.main-right-top .procit div{
    width: 70px;
    height: 20px;
    line-height: 20px;
    color: #e01222;
    border: 2px solid #e01222;
    text-align: center;
}
.main-right-top .procit div:last-child{
    margin-left: 10px;
}
.main-right-center{
    height: 154px;
    border-bottom: 1px solid #e7e7e7;
}
.main-right-center .mrc-top{
    width: 162px;
    height: 19px;
    color: #333;
    /*background-color: lightblue;*/
    margin-left: 13px;
    padding-top: 7px;
    border-bottom: 1px solid #e6e6e6;
}
.main-right-center .mrc-top a{
    width: 38px;
    height: 26px;
    display: inline-block;
    vertical-align: middle;
}
/*.main-right-center .mrc-top a:hover{
    border-bottom: 2px solid #db192b;
}*/
.mrc-top a:last-child{
    position:absolute;
    right: 0;
}
.mrc-top a div{
    width: 28px;
    height: 2px;
    background-color: #db192b;
    margin-top: -1px;
}
.main-right-center .mrc-top span{
    width: 1px;
    height: 17px;
    display: inline-block;
    background-color: #dfe0e1;
    margin-left: 12px;
    margin-right: 15px;
}
.mrc-bottom ul{
    padding-top: 19px;
    padding-left: 15px;
}
.mrc-bottom ul li{
    height: 24px;
}
.main-right-bottom{
    overflow: hidden;
}
.main-right-bottom ul{
    width: 192px;
    margin-top: -1px;
}
.main-right-bottom li{
    width: 47px;
    height: 69px;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    float: left;
}
.main-right-bottom li a{
    width: 47px;
    height: 69px;
    display: block;
    position: relative;
}
.main-right-bottom i{
    width: 27px;
    height: 27px;
    display: block;
    background: url("../images/sprite_fs@1x.png") no-repeat 0 0;
    position: absolute;
    top: 15px;
    left: 50%;
    transform:translateX(-50%);
}
.main-right-bottom span{
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    bottom: 12px;
}
.main-right-bottom li:nth-child(1) i{
    background-position: 0 -89px;
}
.main-right-bottom li:nth-child(2) i{
    background-position: -2px -45px;
}
.main-right-bottom li:nth-child(3) i{
    background-position: -43px -89px;
}
.main-right-bottom li:nth-child(4) i{
    background-position: -86px 0;
}
.main-right-bottom li:nth-child(5) i{
    background-position: -89px -47px;
}
.main-right-bottom li:nth-child(6) i{
    background-position: 0 0;
}
.main-right-bottom li:nth-child(7) i{
    background-position: -45px -48px;
}
.main-right-bottom li:nth-child(8) i{
    background-position: -89px -89px;
}
.main-right-bottom li:nth-child(9) i{
    background-position: right top;
}
.main-right-bottom  li:nth-child(10) i{
    background-position: right -43px;
}
.main-right-bottom li:nth-child(11) i{
    background-position: right -93px;
}
.main-right-bottom li:nth-child(12) i{
    background-position: -44px top;
}
/*中间主体结束*/

/*京东秒杀开始*/
.seckill{
    height: 305px;
    margin-top: 10px;
}
.seckill .sk-top{
    height: 55px;
    background:url("../images/seckill_hd.png") no-repeat 0 0;
}
/*京东秒杀开始*/

/*页脚开始*/
footer{
    height: 525px;
    background-color: #eaeaea;
}
footer .footer-top{
    height: 102px;
    line-height: 106px;
    /*background-color: lightblue;*/
    padding-left: 116px;
    border-bottom: 1px solid #dedede;
}
.footer-top li,.footer-top h5{
    float: left;
}
.footer-top li{
    margin-right: 91px;
}
.footer-top span{
    font-size: 18px;
    font-weight: bold;
}
.footer-top h5{
    width: 36px;
    height: 42px;
    background: url("../images/ico_service.png") no-repeat;
    text-indent: -999em;
    margin-top: 30px;
}
.footer-top li:nth-child(2) h5{
    background-position: 0 -43px;
}
.footer-top li:nth-child(3) h5{
    background-position: 0 -86px;
}
.footer-top li:nth-child(4) h5{
    background-position: 0 -129px;
}
.footer-center{
    /*width: 100%;*/
    height: 200px;
    border-bottom: 1px solid #e1e1e1;
}
.footer-center dl{
    float: left;
    width: 198px;
    /*height: 200px;*/
}
.footer-center dl dt{
    height: 43px;
    line-height: 54px;
    font-weight: bold;
}
.footer-center dl dd{
    line-height: 22px;
}
.foot-center-map{
    width: 200px;
    height: 150px;
    margin-top: 20px;
    background: url("../images/ico_footer.png");
}
.foot-center-map h6{
    font-weight: bold;
    height: 35px;
}
.foot-center-map p{
    line-height: 18px;
}
.foot-center-map a{
    display: block;
    text-align: right;
}
.footer-bottom-link{
    width: 1041px;
    height: 49px;
    margin: 0 auto;
}
.footer-bottom-link li{
    float: left;
    height: 49px;
    line-height: 49px;
}
.footer-bottom-link li.line{
    width: 1px;
    height: 13px;
    background-color: #cccccc;
    margin: 19px 10px 0;
}
.footer-bottom-link li a{
    color:#666666;
}
.footer-bottom p{
    margin-top: 22px;
    line-height: 22px;
    color: #999;
    text-align: center;
}

.safety{
    width: 648px;
    margin: 7px auto 0;
}
.safety li{
    float: left;
    margin-right: 6px;
    /*padding-bottom: 18px;*/
}
.safety li:last-child{
    margin-right: 0;
}
.safety li a{
    width: 103px;
    height: 32px;
    display: inline-block;
    background-color: red;
    background: url("../images/ico_footer.png") no-repeat 0 -150px;
}
.safety li:nth-child(2) a{
    background-position: -104px -150px;
}
.safety li:nth-child(3) a{
    background-position: 0 -184px;
}
.safety li:nth-child(4) a{
    background-position: -104px -184px;
}
.safety li:nth-child(5) a{
    background-position: 0 -217px;
}
.safety li:nth-child(6) a{
    background-position: -104px -217px;
}
/*页脚结束*/